.infoBlockContainer {
	width: 22%;
	background-color: rgb(238, 236, 236);
}

.infoBlockContainer_title {
	background-color: rgb(241, 216, 72);
	height: 32px;
	text-align: center;
	padding: 5px 0;
}

.infoBlockContainer_info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 20px;
}

.infoBlockContainer_info div {
	margin-bottom: 10px;
}
.infoBlockContainer_info span {
	font-weight: bold;
}
