.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 50px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__headerContainer {
	width: 99%;
	background-color: grey;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
